body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

p {
    color: dimgray;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 90%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.link-button:hover {
    background-image: linear-gradient(blue, lightblue);
    color: red;
    font-size: 20px;
    font-weight: 800;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}